<form method="POST" action = "/">
  <p>Enter recipe name<input name = "name"></p>
  <p>Enter description<input name = "description"></p>
  <p>Enter prep time<input name = "prep time"></p>
  <button type="submit" value="Submit" class = "btn">Add recipe!</button>
</form>
